/********
General Layout
********/
.mainContainer {
  color: white;
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("../assets/cookies.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.innerWrapper,
.exampleContainer {
  background-color: rgba(204, 167, 0, 0.671);
}

.innerWrapper {
  width: 80%;
  margin: 10vh auto;
  text-align: center;
  padding: 1rem;
  border-radius: 0.6rem;
}

.exampleContainer {
  border-radius: 0.6rem;
  width: 85%;
  margin: 2rem auto;
  padding: 1rem;
}

.exampleContainer button {
  margin-bottom: 1rem;
}

.title {
  margin-block: 1rem;
}

.subtitle {
  margin-bottom: 1rem;
}

/********
input section 
********/
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input {
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
  width: min-content;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.4rem;
}

.input:focus {
  border-color: #ff8b8b;
}

.input::placeholder {
  color: #aaa;
}

.input::-webkit-input-placeholder {
  color: #aaa;
}

.input::-moz-placeholder {
  color: #aaa;
}

.input:-ms-input-placeholder {
  color: #aaa;
}

/********
Buttons section 
********/
.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #ff8b8b;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff6f6f;
}

.button:active {
  background-color: #ff4f4f;
  transform: translateY(2px);
}
